.GameThumbnail {
  flex: 1 1 16em;
  margin: 0.4em;
  height: 9em;
}

#sidebarToggle:checked ~ .GameList .GameThumbnail {
  height: 10em;
}

.GameThumbnailContainer {

  position: relative;

  width: 100%;
  height: 100%;

  overflow: hidden;
}

.GameThumbnailPreload {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  color: white;
  font-size: 1em;
  font-weight: bold;
}

.GameThumbnailImageLoaded {

  position: absolute;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  opacity: 0;

  transition: opacity 1500ms ease;
}

.colorBackground {
  box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.68);
}

.GameThumbnailVideo {
  position: absolute;
  z-index: 4;
  top: 0;
  left: 50%;
  right: 50%;
  margin-left: auto;
  margin-right: auto;
  transform: translate(-50%, 0%);

  opacity: 0;
  transition: opacity 800ms ease;
  
  height: 100%;
}

.show {
  opacity: 1;
}

.hide {
  opacity: 0;
}

@media (max-width: 1230px)  { 
  .GameThumbnail {
    height: 13em;
  }

  #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 9em;
  }
}

@media (max-width: 1155px)  {  
  .GameThumbnail,  #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 12em;
  }
}

@media (max-width: 970px)  {  
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 10em;
  }
}

@media (max-width: 885px)  { 

  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 13em;
  }
}

@media (max-width: 780px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 12em;
  }
}

@media (max-width: 700px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 11em;
  }
}

@media (max-width: 660px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 10em;
  }
}

@media (max-width: 616px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 20em;
    flex: 1 1 100%;
    margin: 0.5em 0em;
  }
}

@media (max-width: 540px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 17em;
  }
}

@media (max-width: 400px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 13em;
  }
}

@media (max-width: 320px)  { 
  .GameThumbnail, #sidebarToggle:checked ~ .GameList .GameThumbnail {
    height: 11em;
  }
}