.LoadingScreen {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.GameDetailView {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.GameHeroElement {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.GameImage {
  /* width: 100%; */
  /* height: auto; */
  position: relative;
  height: 22rem;
  width: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  display: flex;
  align-items: flex-start;
  justify-content: flex-end;
}

.GameImageBefore{
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 1;
}

.GameInformation {
  z-index: 99;
  margin-right: 7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.GameTitle {
  font-size: 4rem;
  margin-bottom: 0;
}

.GameInfoIconBar {
  display: flex;
}

.GameRating {
  margin-right: 1rem;
}

.GameTags {
  margin-right: 1rem;
}

.GamePeripheralsContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.GamePeripherals {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.GamePeripheral {
  margin-right: 1em;
}

.GameTime {
  margin-top: 1rem;
}