.PlayedByFriendsThumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 0em;
  border-bottom: 1px solid rgba(128, 128, 128, 0.35);
}
.PlayedByFriendsThumbnail:last-child {
  border-bottom: none;
}

.PlayedByFriendsImage {
  width: 7em;
  height: 4.5em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PlayedByFriendsText {
  flex: 1 1;
  padding: 0 1em;
}

.PlayedByFriendsText p {
  margin-right: 0;
  margin-left: 0;
}

.PlayedByFriendsTitle {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.PlayedByFriendsCaption {
  font-size: 0.75em;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 900px)  { 
  .PlayedByFriendsThumbnail {
    border-right: 1px solid rgba(128, 128, 128, 0.35);
    border-bottom: none;
    padding: 0em 0.2em 1em 0.2em;
    margin-top: 1em;
  }
  .PlayedByFriendsThumbnail:last-child {
    border-right: none;
    border-bottom: none;
  }
}