.PlayedByFriendsThumbnail {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 1em 0em;
}

.PlayedByFriendsImage {
  width: 7em;
  height: 4.5em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.PlayedByFriendsText {
  flex: 1 1;
  padding: 0 1em;
}

.PlayedByFriendsText p {
  margin-right: 0;
  margin-left: 0;
}

.PlayedByFriendsTitle {
  margin-top: 0;
  margin-bottom: 0.2em;
}

.PlayedByFriendsCaption {
  font-size: 0.75em;
  opacity: 0.5;
  margin-top: 0;
  margin-bottom: 0;
}